<!doctype html>
<html lang="pt-br">
    <link rel="stylesheet" href="style\bootstrap\css\bootstrap.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="style\bootstrap\js\bootstrap.min.js" ></script>
    <script src="node_modules\angular\angular.js"></script> 
    <script src="node_modules\angular-route\angular-route.js"></script>
    <script src="js\modules\furtnet-principal.js"></script>
    <script src="js\controllers\controler-login.js"></script>   
    <script src="js\controllers\controller-cid-est.js"></script> 
    <link rel="stylesheet" href="style\estilo.css">
    
    


    <meta charset="utf-8">
    
    <head>
        <title>Furtnet</title>

    </head>
    <body ng-app="appfurtnet">

       
        
          
            <!-- aqui vao as telas  -->
            
            <ng-view></ng-view>


    </body>
</html>